/*  //////////////////////////////////////////////////
    Subj:       
    By:         Virgilio D. Cabading Jr.
    ////////////////////////////////////////////////// */

.main_container {
    /* background-color: green; */
    height: 800px;
}

/* //// NAV BAR //// */

.nav {
    background-color: darkslategray;
    color: white;
}


.nav div a {
    color: white;
}

.nav div button {
    background-color: dodgerblue;
}

.bold {
    font-weight: bold;
}

/* //// MAIN CONTENT //// */

.main_content {
    height: 600px;
}

/* **** LEFT COLUMN **** */

.card_content {
    padding: 10px;
}

.card {
    margin: 10px 0px;
}

.user_header {
    background-color: dodgerblue;
    padding: 10px 0px 0px 10px;
}

.user_header>img {
    height: 100px;
    width: auto;
    margin-bottom: -50px;
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    border-color: white;
}

.card>.flex_down>* {
    margin: 10px 0px 10px 0px;
}

.card>.flex_down>h1 {
    padding-top: 40px;
}

.icon {
    height: 20px;
}

.input_bar {
    border-style: solid;
    border-color: dodgerblue;
    border-width: 1px;
    padding-right: 30px;
}

.education_header {
    background-color: darkslategray;
    color: white;
    padding: 1%;
}

.header {
    background-color: darkslategray;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

/* **** RIGHT COLUMN **** */

.right_column {
}

.connection_requests_count {
    background-color: dodgerblue;
    padding: 4px 10px 4px 10px;
    border-radius: 50%;
}

.your_connections_count {
    background-color: dodgerblue;
    padding: 4px 10px 4px 10px;
    border-radius: 50%;
}

.view_more {
    border-style: solid;
    border-color: dodgerblue;
    border: 2px;
    margin-top: 5px;
    /* background-color: red; */
}

.connection_img {
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.connection_requests {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.connections {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.edit_profile_button {
    text-decoration: underline;
}