/*  //////////////////////////////////////////////////
    Subj:       Coding Dojo > Web Fundamentals > CSS
    Project:    Profile Page
    By:         Virgilio D. Cabading Jr.
    Created:    October 13, 2021
    ////////////////////////////////////////////////// */

/* //// Universal Browser Reset ////////////////////// */
* {                                                     
    vertical-align: baseline;
    font-weight: inherit;
    font-family:Arial, Helvetica, sans-serif;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}

/*  //// GENERAL CLASSES ////////////////////////////// */

h1 {
    font-size: 3rem;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.3rem;
}

.date {
    font-size: 1.3rem;
}

.container {
    display: flex;
}

.flex_right {
    flex-direction: row;
}

.flex_down {
    flex-direction: column;
}

.align_center {
    align-items: center;
}

.align_up {
    align-items: flex-start;
}

.justify_left {
    justify-content:flex-start;
}

.justify_right {
    justify-content: flex-end;
}

.justify_space {
    justify-content: space-around;
}

.justify_center {
    justify-content: center;
}

.width_inherit {
    width: inherit;
}

.gutter {
    flex: 1;
}

.left_column {
    flex: 8 ;
}

.right_column {
    flex: 4;
}

.bg_blue_steel {
    background: rgb(2,2,5);
    background: linear-gradient(0deg, rgba(2,2,5,1) 0%, rgba(42,36,74,1) 66%, rgba(13,13,14,1) 100%);
}

.bg_dodger {
    background-color: dodgerblue;
}

.ft_white {
    color: white;
}

.ft_dodger {
    color: dodgerblue;
}

.bd_dodger {
    border-color: dodgerblue;
}

.bd_navy {
    border-style: solid;
    border-color: navy;
    border-width: 2px;
    border-radius: 10px;
    overflow: hidden;
}

.pad_10 {
    padding: 10;
}

.margin_10 {
    margin: 10;
}

.scroll_magic {
    overflow: auto;
}

/*  //// NAV BAR ////////////////////////////////////// */

/*  //// NAV BAR LEFT COLUMN /////////////////////// */

.nav_bar_a {
    text-decoration: none;
    margin: 0px 20px;
}

.nav_bar_a:hover, .nav_bar_a:active {
    color: white;
    border-style: dashed;
    border-width: 1px;
    border-color: white;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 0px 10px;
}

/*   //// NAV BAR RIGHT COLUMN /////////////////////// */
#nav_bar>.right_column {
    background: none;
    display: flex;
    justify-content: end;
    align-items: center;
}

.sign_out_button {                              /* Sign Out Button */
    background:none;
    padding: 0px 20px;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    box-shadow: 5px 5px 4px black;
}

.sign_out_button:hover, .sign_out_button:active {
    border-style: solid;
    border-width: 3px;
    border-color: white;
    color: white;
    font-weight: bold;
    cursor: pointer;;
}

.sign_out_button:active {
    transform: translateY(3px);
    box-shadow: 2px 1px 1px black;
}

/*  //// MAIN CONTENT ///////////////////////////////// */

/*  ////////// Main Content LEFT COLUMN /////////////// */
#main_content>.left_column {
    padding: 10px 10px 10px 0px;
}

.user_card {
    border-style: solid;
    border-color: dodgerblue;
    border-width: 2px;
    border-radius: 10px;
    overflow: hidden;
    width: inherit;
    display: flex;
    flex-direction: column;
}

.user_card>.header>.user_image {
    height: 100px;
    position: relative;
    left: 10px;
    top: 60px;
    border-radius: 50%;
    border: solid;
    border-width: 2px;
    border-color: white;
    box-shadow: 4px 4px 3px darkblue;
}

.user_card>.content {
    padding-top: 60px;
}

.content_container {
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.content_container>* {
    margin: 0px 10px;
}

.user_name {
    font-size: 30px;
}

.icon {
    height: 15px;
}

.connection_img {
    height: 30px;
    border-radius: 50%;
}

.general_content_card {
    width: inherit;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.general_content_card>.header {
    color: white;
    padding: 10px;
    font-size: 20px;
}

/*  //////// Main Content RIGHT COLUMN ////////////// */
.connection_icon {
    border-radius: 50%;
    /* font-weight: bold; */
    padding: 0px 7px;
}